.depart-content{
  position: relative;
  .add-btn{
    position: absolute;right: 0;top:0;
  }
  .tbn-div{
    position: relative;
    height: 50px;
    label{
      margin-left: 30px;
    }
  }
}
.w-150{
  width:150px !important;
}
.w-120{
  width: 120px !important;
}