.order-div{
  border:1px solid #ccc;
  padding :20px;
  .list{
    width: 380px;
    padding :10px;
    border:1px solid #ccc;
    margin-top:10px;
    margin-right: 10px;
    position: relative;
    .delete{
      position: absolute;
      right: 10px;
      top:10px;
    }
  }
  .cancel-btn{
    margin-left: 100px;
    margin-right: 50px;
  }
}
.p-l-100{
  padding-left: 100px;
}