.query-img{
  height:80px;
  width:80px;
}
.w-100{
  width:100% !important;
}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.left{  float: left;}
.stock-list{
  margin: 5px;
  float: left;
  border:1px solid #ccc;
}
.info{
  height:50px;
  line-height: 50px;
  text-align: center;
}